<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Checkout example for Bootstrap</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
    <div class="py-3 text-center">
        <h2>Buscador de archivos</h2>
        <p class="lead">Ingrese la ruta completa del directorio donde se ubican todos los archivos, No selecciones el directorio raiz.</p>
    </div>
<?php if (isset($this->error)) :?>
    <div class="alert alert-danger" role="alert">
        <?= $this->error ?>
    </div>
<?php endif; ?>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate action="/" method="post">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" class="form-control" id="directorio" name="directorio" placeholder="" value="" required>
                        <div class="invalid-feedback text-center">
                            Es necesario ingresar la ruta de los archivos donde se buscara.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar configuración</button>
                <input type="hidden" name="process" value="config"  />
            </form>
        </div>
    </div>

</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script>
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>